<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insertBatch">
        insert into order_detail (order_id, dish_id, name, image, amount, number, dish_flavor,setmeal_id)
        values
        <foreach collection="orderDetailList" item="item" separator=",">
            (#{item.orderId}, #{item.dishId}, #{item.name}, #{item.image}, #{item.amount}, #{item.number}, #{item.dishFlavor},#{item.setmealId})
        </foreach>
    </insert>
</mapper>
